.container {
    position: absolute;
    top: -25px;
    min-width: 80vw;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterContainer {
    display: flex;
    flex-wrap: wrap;
}

.clear {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    color: var(--desaturated-dark-cyan);
}

.filter {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.filterText {
    color: var(--desaturated-dark-cyan);
    background-color: var(--background);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px 0px 0px 5px;
}

.x {
    color: white;
    background-color: var(--desaturated-dark-cyan);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease-in-out;
}

.x:hover {
    background-color: var(--very-dark-grayish-cyan);
}

@media screen and (max-width: 760px) {
    .container {
        position: relative;
    }
}
